main {
    width: 90%;
    margin: 0 auto;
    .color {
        position: absolute;
        left: 0px;
        top: 79rem;
        width: 0.7rem;
        height: 105%;
        content: "";
        z-index: 99;
        background: rgb(0, 0, 0);
    }
    .h1 {
        margin-left: 6rem;
        margin-top: 5rem;
    }
}

main {
    .container {
        display: flex;
        flex-direction: column;
    }
}

main {
    .container {
        .bg-container {
            display: flex;
            flex-direction: row;
            width: 40%;
            justify-content: space-between;
            margin-bottom: 2rem;
            img {
                border-radius: 50%;
                height: 200px;
            }
        }
    }
}

main {
    .container {
        .margin {
            display: flex;
            flex-direction: row;
            .card {
                margin-left: 4.3rem;
            }
            img {
                border-radius: 50%;
                height: 200px;
            }
        }
    }
}